<a href="https://colab.research.google.com/github/sheetal2601/100Daysofcoding-Python/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Topic - Data Type , Numbers , Operations , Type Conversions , f-strings

# Data type

In [4]:
#String - String of character Ex. "Hello"
#1. Subscripting

print('Hello'[0])

H

In [5]:
#Keeping Any number inside double quote make it string
#string concatenation
print('123' + '456')

123456

In [6]:
#string- String of character
#Integer - Numerical values  12345
#Float - Decimal Numbers  3.141
#Boolean - True , false

#Type Error , Type Checking and Type Conversion

Type Error
1. len() don't work with integers  gives type error while passing integers
2. concatination of string + intgers give type error

Type() Checking Data Type

TypeCasting - changing one data type to another

str()
int()
float()

In [9]:
print(70 + float('170.8'))
print(str(123) + str(567))

240.8
123567

# Mathematical Opetaions

In [10]:
# 3 + 5 addion
# 7- 4 substarcion
# 3*2 multiplication
# 6/3 division
#2**3 exponents

# PEMDAS () , ** , * / , +-

In [12]:
print(3*(3+3)/3-3)

3.0

# BMI Calculator

In [17]:
# 1st input: enter height in meters e.g: 1.65
height = input()
# 2nd input: enter weight in kilograms e.g: 72
weight = input()
# ðŸš¨ Don't change the code above ðŸ‘†

# Write your code below this line ðŸ‘‡
weight_as_int = int(weight)
height_as_int = float(height)

BMI = weight_as_int /height_as_int**2
print(int(BMI))

1.63
69
25

#Number Manupulation

In [20]:
#round() - round number in whole number
print(8/3)
print(round(8/3, 2))

2.6666666666666665
2.67

In [22]:
#floor divison - for whole number
print(8//3)

# Data type for / is float ,&  // is is int

2

In [24]:
result = 4/2
result /= 2
result

1.0

In [25]:
score = 0
score += 1
score

1

# f-string

In [26]:
score = 0  # int
height = 1.8 #float
iswinning = True #bool

#we have different data type instead of making is string and use + sign
#f- string
#f"your score is {variable}"

print(f"your score is {score}, your height is{height}")

your score is 0, your height is1.8

# Life in a week

I was reading this article by Tim Urban - Your Life in Weeks and realised just how little time we actually have.

Create a program using maths and f-Strings that tells us how many weeks we have left, if we live until 90 years old.

It will take your current age as the input and output a message with our time left in this format:

You have x weeks left.
Where x is replaced with the actual calculated number of weeks the input age has left until age 90.

Warning your output should match the Example Output format exactly, even the positions of the commas and full stops

In [28]:
age = input()
Years = 90- int(age)
weeks = Years * 52
print(f"You have {weeks} weeks left.")

20
You have 3640 weeks left.

In [29]:
#exercice
print(6+4/2-(1*2))

6.0

In [30]:
a = int('5')/int(2.7)
type(a)

float

# Tip Calculator

In [31]:
#If the bill was $150.00, split between 5 people, with 12% tip.
#Each person should pay (150.00 / 5) * 1.12 = 33.6
#Round the result to 2 decimal places.
print("Welcome to the tip calculator!")
bill = float(input("What was the total bill? $"))
tip = int(input("How much tip would you like to give? 10, 12, or 15? "))
people = int(input("How many people to split the bill?"))

tip_as_percent = tip / 100
total_tip_amount = bill * tip_as_percent
total_bill = bill + total_tip_amount
bill_per_person = total_bill / people
final_amount = round(bill_per_person, 2)


# FAQ: How to round to 2 decimal places?

# Find the answer in the Q&A here: https://www.udemy.com/course/100-days-of-code/learn/lecture/17965132#questions/13315048


print(f"Each person should pay: ${final_amount}")

Welcome to the tip calculator!
What was the total bill? $150
How much tip would you like to give? 10, 12, or 15? 10
How many people to split the bill?5
Each person should pay: $33.0